<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Live Data</title>
        <link rel="icon" href="./../resources/images/introlab_icon.png">

        <link href="./../resources/css/bootstrap.css" rel="stylesheet">
        <link href="./../resources/css/style.css" rel="stylesheet">
        <link href="./../resources/css/bootstrap_slider.css" rel="stylesheet">
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <!-- socket.io server -->
            <div id="pi-sensors">
                <div id="pi-overview">
                    <h4 style="font-weight: bold; font-size: 24px;">Status: <span id="pi-status"></span></h4>
                </div>

                <!-- Pi IP input -->
                <div id="pi-connect">
                    Sensor Device IP:<br>
                    <input type="text" value="" id="pi-ip"><input onclick="connectPi()" type="button" value="Connect" name="connect_sensor">
            
                </div>

                <!-- Pi sensor data -->
                <div id="pi-data" style="display:none">
                    <button id="start-record" onclick="recordStart()">Start Recording</button>
                    <button id="stop-record" onclick="recordStop()">Stop Recording</button>

                    <p style="font-weight: bold; font-size: 24px;">Temperature:  <span class="sensor-value" id="temperature"></span></p>
                    <p style="font-weight: bold; font-size: 24px;">Pressure:     <span class="sensor-value" id="pressure"></span></p>
                    <p style="font-weight: bold; font-size: 24px;">Altitude:     <span class="sensor-value" id="altitude"></span></p>
                    <p style="font-weight: bold; font-size: 24px;">Humidity:     <span class="sensor-value" id="humidity"></span></p>
                    <p style="font-weight: bold; font-size: 24px;">Magnetometer: <span class="sensor-value" id="magnetometer"></span></p>
                </div>

            </div>
            <!-- socket connection -->
            <script>
                var socket = undefined;
                var recordStart = function(){};
                var recordStop = function(){};

                // Setup socket connection & events
                function connectPi(){
                    if (socket != undefined) {socket.close();}
                    socket = io("http://"+document.getElementById("pi-ip").value+":3000")

                    // Recording controls
                    $("#start-record").fadeIn("fast");
                    recordStart = function(){
                        console.log("started recording");
                        $("#start-record").fadeOut("fast");
                        $("#stop-record").fadeIn("fast");   
                        socket.emit("start record");
                    }
                    recordStop = function(){
                        console.log("stopped recording");
                        $("#start-record").fadeIn("fast");
                        $("#stop-record").fadeOut("fast");
                        socket.emit("stop record");
                    }

                    // imu, humidity, & pressure sensor data
                    socket.on('sensors', function(data){
                        $("#temperature").html(Math.round(data.humidity.temperature)+"°C");
                        $("#pressure").html(data.pressure.pressure);
                        $("#humidity").html(data.humidity.humidity);
                        $("#altitude").html(data.pressure.altitude);
                        $("#magnetometer").html("<br/>X: "+data.imu.mag_x + "<br/>Y: "+data.imu.mag_y+"<br/>Z: "+data.imu.mag_z);
                    });
                }

                // Connected / trying to connect logic
                var lastStatus = false;
                setInterval(() => {
                        // on connection
                    if (socket != undefined)
                        if(socket.connected){
                            lastStatus = socket.connected;
                            document.getElementById("pi-status").innerHTML = "Connected";
                            document.getElementById("pi-status").style.backgroundColor = "green";
                            $("#pi-connect").fadeOut("fast");
                            $("#pi-data").fadeIn("fast");
                        }
                        // on disconnection
                        else if(!socket.connected){
                            lastStatus = socket.connected;
                            document.getElementById("pi-status").innerHTML = "Disconnected";
                            document.getElementById("pi-status").style.backgroundColor = "red";
                            $("#pi-connect").fadeIn("fast");
                            $("#pi-data").fadeOut("fast");
                        }
                    }, 1000);
            </script>
            <!------------------------------------------------------>





            <nav class="navbar navbar-default bg-primary navbar-fixed-top ">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- <button type="button" class="navbar-toggle collapsed navbar-button" data-toggle="collapse" data-target="#source-list" aria-expanded="false">
                            Sources
                        </button> -->
                        <a class="navbar-brand navbar-logo" width="120" href="#"><img src="./../resources/images/introlab_icon.png"></a>
                        <a class="navbar-brand" width="120" href="#"><span>ODAS Studio</span></a>
                    </div>

                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li><a href="#" onclick="ipcRenderer.send('open-configure-window')">Configure</a></li>
                        <li><a href="#" onclick="ipcRenderer.send('open-recordings-window')">Record</a></li>
                        <li><a href="#" onclick="ipcRenderer.send('open-share-window')">Camera</a></li> -->
                        <div id="system-monitor">
                                <p>IP {{system.ip}}</p>
                                <p>CPU Usage {{system.cpu}}</p>
                        </div>
                        
                    </ul>
                </div>

                </div>
            </nav>

            <div class="container-fluid content main">
                <div class="row content">

                    <div class="col-md-7 layout">
                        <span style="margin-right: 12px;">Noise</span>
                        <input id="range_slider" type="text" class="span2" value="" data-slider-min="0" data-slider-max="1" data-slider-step="0.05" data-slider-value="[0,1]"/>

                        <div class="row graph-row">
                            <div class="col-xs-12 content">
                                <h4 class="abs_head">Source Elevation</h4>
                                <canvas class="graph"></canvas>
                            </div>
                        </div>
                        <div style="display:none !important" class="row graph-row">
                            <div class="col-xs-12 content">
                                <h4 class="abs_head">Source Azimut</h4>
                                <canvas class="graph"></canvas>
                            </div>
                        </div>
                        <div class="row sphere-row">
                            <div class="col-xs-12 content">
                                <h4 id="sphere_heading">Active sources locations</h4>
                                <canvas id="sphere"></canvas>
                                <canvas id="axis" onclick="viewFront()"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>window.$ = window.jQuery = require('./../resources/js/jquery.min.js');</script>
        <script src="./../resources/js/bootstrap.min.js"></script>

        <script src="./../resources/js/vue.js"></script>
        <script src="./../resources/js/bootstrap_slider.js"></script>
        <script src="./../resources/js/interface.js"></script>

        <script src="./../resources/js/tcp_link.js"></script>

        <script src="./../resources/js/three.min.js"></script>
        <script src="./../resources/js/stats.min.js"></script>
        <script src="./../resources/js/TrackballControls.js"></script>

        <script src="./../resources/js/Chart.bundle.min.js"></script>
        <script src="./../resources/js/graph.js"></script>

        <script src="./../resources/js/source_sphere.js"></script>

        <script src="./../resources/js/audio_stream.js"></script>
        <script src="./../resources/js/odas_launcher.js"></script>

        <script src="./../resources/js/legal.js"></script>
    </body>
</html>
